/* ----------- Non-Retina Screens ----------- */
@media (min-width:1200px) {

  #carousel-header, .carousel-inner, .item  {
    max-height: 750px;
  }

  .item {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}
